{
  "presets": ["es2015"],
  "plugins": [[
    "transform-es2015-modules-umd", {
      "globals": {
        "bobtail-rx": "rx",
        "underscore": "_"
      },
      "exactGlobals": true
    }
  ]],
  "moduleId": "bobtail-rx"
}

